/* Reset rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul, ol, menu {
    list-style-type: none;
}

/* Modifier */

.header--padding {
    padding: 16px 8px;
}

.button--white {
    color: black;
    background-color: white;
}

.button--black {
    color: white;
    background-color: black;
}

.row-reverse {
    flex-direction: row-reverse;
}




.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #255ee9;

}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}

.header__links-list {
    gap: 30px;
}

.header__links-list a {
    color: white;
    text-decoration: none;
}

.button {
    text-decoration: none;
    padding: 8px;
    border-radius: 16px;
}

.hero {
    background-image: url(../img/jumbo.png);
    height: 447px;
    background-size: contain;
    padding: 128px 290px;
}

.hero h2, .hero p {
    color: white;
    text-align: center;
}

.hero h2 {
    margin-bottom: 16px;
    font-size: 40px;
}

.hero p {
    line-height: 30px;
}

.hero a {
    text-decoration: none;
}

.hero__buttons {
    padding-top: 8px;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.card__img {
    flex-basis: 60%;
}

.card__description {
    flex-basis: 40%;
}

.cards .card__description h2 {
    font-size: 32px;
    padding: 0 104px;
    line-height: 48px;
}

.cards .card__description p {
    line-height: 32px;
    padding: 16px 104px;
}